/* HEADER DE LA PAGINA DE INICO */
//HEADER DE LA PAGINA DE INICIO
.navegar {
  background-color: rgb(0, 0, 0);
  width: 100%;

  @media(min-width: 768px) {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.205);
    width: 100%;
  }
}
/* ICONO DEL NAV */
//ICONO DEL NAV
.navresponsive{
  background-color: white;
  border: 3px solid $color-uno;  
}
/* HEADER DE TODAS LAS PAGINAS */
//HEADER DE TODAS LAS PAGINAS 
.navegante {
  position: relative;
  background-color: black;
}