$color-uno: #974063;
$color-dos: #41436a;
$color-tres: #f54768;
$color-cuatro: #ff9677;
$color-tarjeta: rgba(128, 128, 128, 0.377);
$titulo: 'Bebas Neue', cursive;
$boton: 'Roboto Slab', serif;
$resaltar: 'Lobster', cursive;